Repository Lllllllleong/wazePoliceScraperGCP: changes, and which Codecov flags are due for each by the changed paths.
All: scraper-service, scraper-service-integration, alerts-service, alerts-service-integration, archive-service, archive-service-integration, frontend

codecov.yml:

# Codecov Configuration
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 60%
        threshold: 5%
        informational: false
    patch:
      default:
        target: 60%
        threshold: 5%
        informational: false

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

flags:
  scraper-service:
    paths:
      - cmd/scraper-service/
      - internal/
    carryforward: true
  scraper-service-integration:
    paths:
      - internal/storage/
    carryforward: true
  alerts-service:
    paths:
      - cmd/alerts-service/
      - internal/
    carryforward: true
  alerts-service-integration:
    paths:
      - internal/storage/
    carryforward: true
  archive-service:
    paths:
      - cmd/archive-service/
      - internal/
    carryforward: true
  archive-service-integration:
    paths:
      - internal/storage/
    carryforward: true
  frontend:
    paths:
      - dataAnalysis/public/
      - dataAnalysis/tests/
    carryforward: true

ignore:
  - "**/*_test.go"
  - "**/testdata/**"
  - "dataAnalysis/firebase.json"
  - "dataAnalysis/package*.json"
  - "dataAnalysis/vitest.config.js"

refactor: improve Mermaid diagram layout to prevent arrow overlap
  docs/ARCHITECTURE.md
Due: none

refactor: improve Mermaid diagram labels for clarity
  docs/ARCHITECTURE.md
Due: none

fix: refresh Go Report Card badge to show current A+ grade
  README.md
Due: none

docs: Update documentation files and add CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
  docs/ADR.md
  docs/ARCHITECTURE.md
  docs/TESTING.md
Due: none

Refactor CI/CD workflows to use reusable workflow and update dataAnalysis config
  .github/workflows/alerts-service-ci-cd.yml
  .github/workflows/archive-service-ci-cd.yml
  .github/workflows/reusable-service-cicd.yml
  .github/workflows/scraper-service-ci-cd.yml
  .github/workflows/shared-tests.yml
  dataAnalysis/public/app.js
  dataAnalysis/public/config.js
Due: frontend

Add id-token permissions to service workflows
  .github/workflows/alerts-service-ci-cd.yml
  .github/workflows/archive-service-ci-cd.yml
  .github/workflows/scraper-service-ci-cd.yml
Due: none

Update README description
  README.md
Due: none

Remove paths filter from pull_request in shared-tests workflow
  .github/workflows/shared-tests.yml
Due: none

fix: use errors.Is in IsObjectNotExist to handle wrapped GCS errors
  internal/storage/gcs_adapter.go
  internal/storage/gcs_adapter_test.go
Due: scraper-service, scraper-service-integration, alerts-service, alerts-service-integration, archive-service, archive-service-integration

task: add backfill script for missing GCS archives (Jan 10 – Apr 5, 2026)
  scripts/backfill-archives.sh
Due: none

ux: cap date picker at Mar 16 2026 and add historical data notice
  dataAnalysis/public/app.js
  dataAnalysis/public/index.html
  dataAnalysis/public/styles.css
Due: frontend

chore: decommission scraper and archive services (#25)
  .github/workflows/archive-service-ci-cd.yml
  .github/workflows/scraper-service-ci-cd.yml
  terraform/environments/prod/main.tf
  terraform/environments/prod/outputs.tf
  terraform/environments/prod/terraform.tfvars
  terraform/environments/prod/tfplan
  terraform/environments/prod/tfplan-fix
  terraform/environments/prod/variables.tf
Due: none

docs: add historical status notice and post-mortem (#25)
  README.md
  docs/ARCHITECTURE.md
  docs/POST_MORTEM.md
Due: none

docs: defluf and audit README, ARCHITECTURE, and POST_MORTEM
  README.md
  docs/ARCHITECTURE.md
  docs/POST_MORTEM.md
Due: none

ci: allow workflow_dispatch to deploy and watch reusable workflow path
  .github/workflows/alerts-service-ci-cd.yml
  .github/workflows/reusable-service-cicd.yml
Due: none
